<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/stopWatch.css" />
    <title>Stop Watch | Vanilla JS</title>
  </head>
  <body>
    <h1 class="heading" id="headingId">Stop Watch UI Component</h1>
    <div class="stopWatchContainer">
      <div class="timerDisplay">
        <div class="time hoursTime" id="hoursTimeId">00</div>
        <div class="colon">:</div>
        <div class="time minutesTime" id="minutesTimeId">00</div>
        <div class="colon">:</div>
        <div class="time secondsTime" id="secondsTimeId">00</div>
      </div>
      <div class="timerControls">
        <button class="button startButton" id="startButtonId">Start</button>
        <button class="button pauseButton" id="pauseButtonId">Pause</button>
        <button class="button resetButton" id="resetButtonId">Reset</button>
      </div>
    </div>
    <script src="../scripts/stopWatch.js"></script>
  </body>
</html>
