<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-08" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/toggleSwitch.css" />
    <title>Toggle Switch | Vanilla JS</title>
  </head>
  <body>
    <h1 class="heading" id="headingId">Toggle Switch UI Component</h1>
    <div class="toggleSwitch" id="toggleSwitchId">
      <div class="switchBtn" id="switchBtnId"></div>
    </div>
    <h1 class="mode" id="modeId">Light Mode Activated</h1>
    <script src="../scripts/toggleSwitch.js"></script>
  </body>
</html>
