/* Importing Google Fonts */

@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/Roboto/RobotoRegular.ttf");
}

/* Declaration of Font Variables */

:root {
  --primaryFont: "RobotoRegular";
}

/* Declaration of Color Variables */

:root {
  --primaryColor: #646cff;
  --secondaryColor: #535bf2;
  --tertiaryColor: #242424;
  --quaternaryColor: #ffffff;
  --quinaryColor: #f9f9f9;
  --senaryColor: #747bff;
  --septenaryColor: #213547;
  --octonaryColor: #000000;
  --nonaryColor: #000000;
  --decenaryColor: #000000;
  --undenaryColor: #000000;
  --dark: black;
}

/* Declaration of Default Stylings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* Declaration of Global Classes Stylings */

a {
  color: var(--dark);
  text-decoration: none;
}

/* Declaration of UI Specific Stylings */

.heading {
  font-family: var(--primaryFont);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

.stopWatchContainer {
  padding: 40px 60px;
  background: cyan;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px gray;
}

.timerDisplay {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  background-color: deeppink;
  margin-bottom: 30px;
  border-radius: 8px;
}

.timerControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  padding: 10px;
  font-size: 60px;
  min-width: 80px;
}

.colon {
  padding: 10px;
  font-size: 40px;
  line-height: 1.5;
}

.button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #646cff;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .heading,
  .mode {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
